table, th, td {
  border:1px solid black;
  background-color:#d0f0c0;
  color:#77b41b;
}

a {
  text-decoration: none;
  color:darkgreen;
}

a:visited {
  color:darkgreen;
}

a:hover {
  color: yellow;
}

