table, th, td {
  border:1px solid black;
  color:#00f
}
span.t {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow; 
  position: relative; top: -50%;
}
